/* .bodyDiv{
    height: 100vh;
} */

#panel{
    background-color: #ffffff;
}
#signupbtn{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #64b5f6;
    font-weight: 500;
}
#title{
    background-color: #64b5f6;
    color: white;
    padding: 8px;
    margin-top: 0px;
    font-weight: 700;
    text-align: center;
}

form{
    padding:0px;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0px 20px 0px 20px;
}

.error{
    color:red;
}

.indeterminate{
    background-color: #64b5f6 !important;
}